.header {
  position: relative;
  width:1864px;
  height:71px;
  left:16px; /* Adjust height based on your design */
  overflow: hidden;
}

.logo{
  width: 100px;
height: 10px;
top: -9px;
left: 172px;
gap: 0px;
opacity: 0px;

}
  